$color1: #eae2b7;
$color2: #fcbf49;
$color3: #f77f00;
$color4: #d62828;
$color5: #003049;

.paste{
    background-color: $color2; 
    $marginLeft: 2em;
    max-width: 85vw;
    margin: 0 auto;
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: column;
    // // color:$color5;

    .paste-item{
        width: fit-content;
        padding: 0.2em 0;
    }
     .paste-title{
        margin-left: $marginLeft;
        margin-top: 0.5em;
        font-weight: bolder;
        // // color:$color5;
    }
    .paste-content{
        max-width: 95%;
        max-height: 20vh;
        overflow-wrap:normal;
        overflow: auto;
        margin: 0.5em auto;
        text-align:left;
    }
    .paste-data{
        font-size: smaller;
        // color: rgba($color: inherit, $alpha: 0.6);
        opacity: 0.6;
        display: flex;
        margin-left: $marginLeft;
        // color: inherit;
    }
    .paste-date{
        margin-left: $marginLeft;
    }
}
